Repository mxkx74/app_directory_sample: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add albumsRepository and albumsModel files
  src/domain/album/albumsRepository.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add artists path to constant/path.ts
  src/constant/path.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add artistRepository and artistsModel
  src/domain/artists/artistRepository.ts
  src/domain/artists/artistsModel.ts
  src/domain/artists/artistsModelMock.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add albumsInfo feature use-case boundary, index, and interactor
  src/feature/albumsInfo/use-case/boundary.ts
  src/feature/albumsInfo/use-case/index.ts
  src/feature/albumsInfo/use-case/interactor.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Fix expiration time calculation in auth feature
  src/feature/auth/setting.test.ts
  src/feature/auth/setting.ts
  src/feature/auth/use-case/boundary.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

fix fetcher
  src/domain/album/albumsRepository.ts
  src/domain/artists/artistRepository.ts
  src/domain/me/meRepository.ts
  src/domain/meAlbums/meAlbumsRepository.ts
  src/domain/mePlaylists/mePlaylistsRepository.ts
  src/feature/albumsInfo/use-case/interactor.ts
  src/feature/me/component/MeNavigation.tsx
  src/feature/me/use-case/interactor.ts
  src/feature/meLibraryList/adapter/hooks.ts
  src/feature/meLibraryList/component/MeLibrary.tsx
  src/feature/meLibraryList/component/MeLibraryList.tsx
  src/feature/meLibraryList/use-case/interactor.ts
  src/lib/fetcher/fetcher.ts
  src/util/auth.ts
  src/util/client.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor authentication tests and add mock for getSessionData
  src/feature/auth/setting.test.ts
  src/feature/auth/use-case/interactor.test.ts
  src/feature/meLibraryList/use-case/interactor.test.ts
  src/lib/fetcher/fetcher.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor AlbumsInfoViewModel type definition
  src/feature/albumsInfo/use-case/boundary.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update album and artist mock models
  src/domain/album/albumsMock.ts
  src/domain/artists/artistsModelMock.ts
  src/feature/albumsInfo/use-case/interactor.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update expires_in calculation in refreshAccessToken function
  src/feature/auth/setting.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update @tanstack/react-query-devtools to version 5.17.0
  package-lock.json
  package.json
Due: prettier --write

Add ReactQueryDevtools to AppLayout
  src/component/layout/AppLayout/AppLayout.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor authRepository and authInteractor
  src/domain/auth/authRepository.ts
  src/feature/auth/use-case/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Fix authentication token expiration bug and remove unnecessary error throwing
  src/feature/auth/setting.ts
  src/feature/meLibraryList/adapter/hooks.ts
  src/lib/fetcher/fetcher.ts
  src/util/error.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add token parameter to API requests
  src/domain/album/albumsRepository.ts
  src/domain/artists/artistRepository.ts
  src/domain/me/meRepository.ts
  src/domain/meAlbums/meAlbumsRepository.ts
  src/domain/mePlaylists/mePlaylistsRepository.ts
  src/feature/albumsInfo/use-case/interactor.test.ts
  src/feature/albumsInfo/use-case/interactor.ts
  src/feature/auth/setting.test.ts
  src/feature/me/component/MeNavigation.tsx
  src/feature/me/use-case/interactor.ts
  src/feature/meLibraryList/adapter/hooks.ts
  src/feature/meLibraryList/component/MeLibrary.tsx
  src/feature/meLibraryList/component/MeLibraryList.tsx
  src/feature/meLibraryList/use-case/interactor.test.ts
  src/feature/meLibraryList/use-case/interactor.ts
  src/lib/fetcher/fetcher.test.ts
  src/lib/fetcher/fetcher.ts
  src/util/auth.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update token parameter in repository methods
  src/domain/album/albumsRepository.ts
  src/domain/artists/artistRepository.ts
  src/domain/me/meRepository.ts
  src/domain/meAlbums/meAlbumsRepository.ts
  src/domain/mePlaylists/mePlaylistsRepository.ts
  src/feature/albumsInfo/use-case/interactor.ts
  src/feature/me/use-case/interactor.ts
  src/feature/meLibraryList/use-case/interactor.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add repository type and fetcher options
  src/domain/album/albumsRepository.ts
  src/domain/artists/artistRepository.ts
  src/domain/me/meRepository.ts
  src/domain/meAlbums/meAlbumsRepository.ts
  src/domain/mePlaylists/mePlaylistsRepository.ts
  src/feature/albumsInfo/use-case/interactor.test.ts
  src/feature/albumsInfo/use-case/interactor.ts
  src/feature/me/component/MeNavigation.tsx
  src/feature/me/use-case/interactor.ts
  src/feature/meLibraryList/use-case/interactor.ts
  src/lib/fetcher/fetcher.ts
  src/type/repository.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Delete unused page components
  src/app/(noHeader)/page3/page.tsx
  src/app/(withHeader)/page1/page.tsx
  src/app/(withHeader)/page2/page.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Remove form and search functionality from Home page
  src/component/page/Home/Home.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update BaseLayout styles and add new box padding variable
  src/component/layout/BaseLayout/BaseLayout.module.scss
  src/component/layout/BaseLayout/BaseLayout.tsx
  src/component/ui-group/Sidebar/Sidebar.module.scss
  src/style/globals.css
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add image domain configuration to next.config.js
  next.config.js
Due: prettier --write

Add XL spacing option to Stack component
  src/component/ui/Stack/Stack.module.scss
  src/component/ui/Stack/Stack.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update sidebar width in Sidebar.module.scss
  src/component/ui-group/Sidebar/Sidebar.module.scss
Due: none

Add box radius and font sizes to globals.css
  src/style/globals.css
Due: none

Refactor albumsRepository and albumsInfoViewModelSchema
  src/domain/album/albumsRepository.ts
  src/feature/albumsInfo/use-case/boundary.ts
  src/feature/albumsInfo/use-case/interactor.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update link and image loading in MeLibraryList component
  src/feature/meLibraryList/component/MeLibraryList.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add Album page and AlbumInfo component
  src/app/(withHeader)/album/[id]/page.tsx
  src/component/page/Album/Album.tsx
  src/component/page/Album/index.ts
  src/component/page/index.ts
  src/feature/albumsInfo/component/AlbumInfo.module.scss
  src/feature/albumsInfo/component/AlbumInfo.stories.tsx
  src/feature/albumsInfo/component/AlbumInfo.tsx
  src/feature/albumsInfo/use-case/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add total duration to album info
  src/feature/albumsInfo/use-case/interactor.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update height units in BaseLayout and Sidebar modules
  src/component/layout/BaseLayout/BaseLayout.module.scss
  src/component/ui-group/Sidebar/Sidebar.module.scss
Due: none

Add date-fns library and update Album component
  package-lock.json
  package.json
  src/component/page/Album/Album.tsx
  src/feature/albumsInfo/component/AlbumInfo.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update useMeLibraryList hook to use useSuspenseInfiniteQuery
  src/feature/meLibraryList/adapter/hooks.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor BaseLayout and Header components
  src/component/layout/BaseLayout/BaseLayout.module.scss
  src/component/layout/BaseLayout/BaseLayout.tsx
  src/component/ui-group/Header/Header.module.scss
  src/component/ui-group/Header/Header.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update AlbumPage and AlbumInfo styles
  src/component/page/Album/Album.tsx
  src/feature/albumsInfo/component/AlbumInfo.module.scss
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add arrowLeft.svg and arrowRight.svg icons
  src/asset/icon/arrowLeft.svg
  src/asset/icon/arrowRight.svg
Due: none

Add z-index for sticky header
  src/component/ui-group/Header/Header.module.scss
  src/style/globals.css
Due: none

Refactor padding in BaseLayout.module.scss
  src/component/layout/BaseLayout/BaseLayout.module.scss
Due: none

Add HistoryButton component
  src/component/ui-group/HistoryButton/HistoryButton.module.scss
  src/component/ui-group/HistoryButton/HistoryButton.tsx
  src/component/ui-group/HistoryButton/index.ts
  src/component/ui-group/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add MeNavigation component to Header
  src/component/layout/BaseLayout/BaseLayout.tsx
  src/component/ui-group/Header/Header.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor release date display in AlbumInfo.tsx
  src/feature/albumsInfo/component/AlbumInfo.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor AlbumInfo component and use intervalToDuration from date-fns
  src/feature/albumsInfo/component/AlbumInfo.tsx
  src/feature/albumsInfo/use-case/boundary.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Path conditions:
  eslint --cache --cache-location .next/cache/eslint/ --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
