Repository mxkx74/app_directory_sample: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --cache --cache-location .next/cache/eslint/ --fix",
  "*.{js,jsx,ts,tsx,json}": "prettier --write"
}

Add Sidebar component and update Stack and Text components
  src/component/ui-group/index.ts
  src/component/ui/Stack/Stack.module.scss
  src/component/ui/Stack/Stack.tsx
  src/component/ui/Text/Text.module.scss
  src/component/ui/Text/Text.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add Sidebar component and styles
  src/component/ui-group/Sidebar/Sidebar.module.scss
  src/component/ui-group/Sidebar/Sidebar.tsx
  src/component/ui-group/Sidebar/index.ts
  src/feature/meLibraryList/component/MeLibraryList.module.scss
  src/feature/meLibraryList/component/MeLibraryList.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Commented out pagination implementation in meLibraryList boundary.ts
  src/feature/meLibraryList/use-case/boundary.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor Home page form
  src/component/page/Home/Home.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add TODO comments for nextAlbum and nextPlayList in meLibraryListInteractor test
  src/feature/meLibraryList/use-case/interactor.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add @svgr/webpack package and configure webpack to handle SVG files
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Add home and search icons
  src/asset/icon/home.svg
  src/asset/icon/search.svg
Due: none

Update global CSS variables
  src/style/globals.css
Due: none

Update padding in BaseLayout component
  src/component/layout/BaseLayout/BaseLayout.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add GlobalNav component and styles
  src/component/ui-group/GlobalNav/GlobalNav.module.scss
  src/component/ui-group/GlobalNav/GlobalNav.tsx
  src/component/ui-group/GlobalNav/index.ts
  src/component/ui-group/Sidebar/Sidebar.tsx
  src/component/ui-group/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update sidebar width in BaseLayout module
  src/component/layout/BaseLayout/BaseLayout.module.scss
Due: none

Update typed-scss-modules version
  package-lock.json
  package.json
Due: prettier --write

Update tsconfig.json to exclude .svgr.index.template.js
  tsconfig.json
Due: prettier --write

Add @tanstack/react-query and @types/react-infinite-scroller dependencies
  package-lock.json
  package.json
Due: prettier --write

Update react-error-boundary version to 4.0.12
  package-lock.json
  package.json
Due: prettier --write

Update @tanstack/react-query to version 5.15.0
  package-lock.json
  package.json
Due: prettier --write

Add QueryClientProvider component
  src/component/layout/AppLayout/AppLayout.tsx
  src/provider/QueryClientProvider.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add test case for transformResponse function
  src/lib/fetcher/fetcher.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor Sidebar component and add scroll functionality
  src/component/ui-group/Sidebar/Sidebar.tsx
  src/feature/meLibraryList/component/MeLibraryList.module.scss
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update HttpResponse type signature
  src/type/httpResponse.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add customQuery module
  src/lib/customQuery/customQuery.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor meAlbumsModelListSchema and mePlaylistModelListSchema
  src/feature/meLibraryList/use-case/boundary.ts
  src/feature/meLibraryList/use-case/hooks.ts
  src/feature/meLibraryList/use-case/interactor.test.ts
  src/feature/meLibraryList/use-case/interactor.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor MeLibraryList component and add infinite scrolling
  src/feature/meLibraryList/component/MeLibraryList.tsx
  src/feature/meLibraryList/use-case/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor useMeLibraryList hook
  src/feature/meLibraryList/use-case/hooks.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor Sidebar component and add MeLibrary component
  src/component/ui-group/Sidebar/Sidebar.tsx
  src/feature/meLibraryList/component/MeLibrary.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor meLibraryList use-case boundary.ts
  src/feature/meLibraryList/use-case/boundary.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Remove unused import statement in MeLibraryList.tsx
  src/feature/meLibraryList/component/MeLibraryList.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor item type to kind in MeLibraryList component
  src/feature/meLibraryList/component/MeLibraryList.stories.tsx
  src/feature/meLibraryList/component/MeLibraryList.tsx
  src/feature/meLibraryList/use-case/boundary.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor MeLibraryList component to use getItemProps function
  src/feature/meLibraryList/component/MeLibraryList.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add cache module and update queryKey in useMeLibraryList
  src/feature/meLibraryList/use-case/cache.ts
  src/feature/meLibraryList/use-case/hooks.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update object property names in interactor.test.ts
  src/feature/meLibraryList/use-case/interactor.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Remove console.log statement in interactor.test.ts
  src/feature/meLibraryList/use-case/interactor.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Update validationSchema types in fetcher.ts
  src/lib/fetcher/fetcher.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Disable @typescript-eslint/no-invalid-void-type rule in .eslintrc.json
  .eslintrc.json
Due: prettier --write

Add albums path to constant/path.ts
  src/constant/path.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add albumsRepository and albumsModel files
  src/domain/album/albumsMock.ts
  src/domain/album/albumsModel.ts
  src/domain/album/albumsRepository.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add meAlbumsContainModel and related types
  src/domain/meAlbums/meAlbumsModel.ts
  src/domain/meAlbums/meAlbumsModelMock.ts
  src/domain/meAlbums/meAlbumsRepository.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Add meLibraryList adapter and hooks
  src/feature/meLibraryList/adapter/cache.ts
  src/feature/meLibraryList/adapter/hooks.ts
  src/feature/meLibraryList/adapter/index.ts
  src/feature/meLibraryList/component/index.ts
  src/feature/meLibraryList/use-case/index.ts
  src/feature/meLibraryList/use-case/interactor.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor meRepository, meAlbumsRepository, and mePlaylistsRepository
  src/domain/me/meRepository.ts
  src/domain/meAlbums/meAlbumsRepository.ts
  src/domain/mePlaylists/mePlaylistsRepository.ts
  src/feature/me/use-case/index.ts
  src/feature/meLibraryList/use-case/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Refactor MeLibraryList imports
  src/feature/meLibraryList/component/MeLibraryList.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write
