Repository mxkx74/app_directory_sample: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

lintコマンドの追加
  .markuplintrc
  package.json
Due: prettier --write

lockファイルの追加
  package-lock.json
Due: prettier --write

prettierの調整
  prettier.config.js
Due: prettier --write

editorconfigの追加
  .editorConfig
  .vscode/extensions.json
Due: prettier --write

packageのupdateコマンド
  package.json
Due: prettier --write

packageのアップデート
  package.json
Due: prettier --write

buildをstandaloneバージョンに変更/imageサイズの削減
  docker-compose.yml
  dockerfiles/Dockerfile
Due: none

nodenvのバージョンアップ
  .node-version
Due: none

mswの自動生成ファイルのアップデート
  public/mockServiceWorker.js
Due: prettier --write

msw-storybook-addonの削除
  package-lock.json
  package.json
Due: prettier --write

eslintrcの修正
  .eslintrc.json
Due: prettier --write

lintstagedrcの修正
  .lintstagedrc.js
  .lintstagedrc.json
Due: prettier --write

stylelintのインストール
  package-lock.json
  package.json
Due: prettier --write

styleの設定
  .stylelintrc.json
  prettier.config.js
Due: prettier --write

vscodeの設定
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

page.module.cssをscssに変更
  src/app/page.module.scss
Due: none

auditの対応
  package-lock.json
Due: prettier --write

stylelintのstring-quotesを削除
  .stylelintrc.json
Due: prettier --write

eslint-plugin-importのインストール
  package-lock.json
  package.json
Due: prettier --write

eslint-plugin-importの設定
  .eslintrc.json
Due: prettier --write

tsconfigの修正
  tsconfig.json
Due: prettier --write

eslintignoreの修正
  .eslintignore
Due: none

componentディレクトリの変更
  src/app/(noHeader)/layout.tsx
  src/app/(noHeader)/page3/page.tsx
  src/app/(withHeader)/(home)/page.tsx
  src/app/(withHeader)/layout.tsx
  src/app/(withHeader)/page1/page.tsx
  src/app/(withHeader)/page2/page.tsx
  src/app/Layout.module.scss
  src/app/layout.tsx
  src/app/page.module.scss
  src/app/page.tsx
  src/asset/favicon.ico
  src/component/ui-parts/Footer/Footer.module.scss
  src/component/ui-parts/Footer/Footer.tsx
  src/component/ui-parts/Footer/index.ts
  src/component/ui-parts/Header/Header.module.scss
  src/component/ui-parts/Header/Header.tsx
  src/component/ui-parts/Header/index.ts
  src/component/ui-parts/index.ts
  src/style/globals.css
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

lintstage、tsの設定変更
  .lintstagedrc.js
  tsconfig.json
Due: prettier --write

typed-css-modulesのインストール
  package-lock.json
  package.json
Due: prettier --write

generateコマンドの追加
  .gitignore
  package.json
  tsconfig.json
Due: prettier --write

scssをcssに変更
  src/app/(withHeader)/layout.tsx
  src/app/Layout.module.css
  src/component/ui-parts/Footer/Footer.module.css
  src/component/ui-parts/Footer/Footer.tsx
  src/component/ui-parts/Header/Header.module.css
  src/component/ui-parts/Header/Header.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

layoutをcomponentに移動
  src/app/(noHeader)/layout.tsx
  src/app/(withHeader)/layout.tsx
  src/app/layout.tsx
  src/component/layout/AppLayout/AppLayout.tsx
  src/component/layout/AppLayout/index.ts
  src/component/layout/BaseLayout/BaseLayout.module.css
  src/component/layout/BaseLayout/BaseLayout.tsx
  src/component/layout/BaseLayout/index.ts
  src/component/layout/NoHeaderLayout/NoHeaderLayout.module.css
  src/component/layout/NoHeaderLayout/NoHeaderLayout.tsx
  src/component/layout/NoHeaderLayout/index.ts
  src/component/layout/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

typed-scss-modulesに変更
  package-lock.json
  package.json
Due: prettier --write

rootDirsの変更
  tsconfig.json
Due: prettier --write

cssをscssに変更
  src/component/layout/BaseLayout/BaseLayout.module.scss
  src/component/layout/BaseLayout/BaseLayout.tsx
  src/component/layout/NoHeaderLayout/NoHeaderLayout.module.scss
  src/component/layout/NoHeaderLayout/NoHeaderLayout.tsx
  src/component/ui-parts/Footer/Footer.module.scss
  src/component/ui-parts/Footer/Footer.tsx
  src/component/ui-parts/Header/Header.module.scss
  src/component/ui-parts/Header/Header.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

コマンドの修正
  package.json
Due: prettier --write

shadcn-uiに必要なライブラリをインストール
  package-lock.json
  package.json
Due: prettier --write

tailwindの設定
  .stylelintrc.json
  components.json
  postcss.config.js
  src/lib/utils.ts
  src/style/globals.css
  tailwind.config.js
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

shadcn-uiのbutton追加
  src/component/ui/Button/Button.tsx
  src/component/ui/Button/index.ts
  src/component/ui/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

storybookの修正
  .storybook/main.ts
  .storybook/preview.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

storiesファイルの追加
  src/component/ui/Button/Button.stories.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

eslintの修正
  .eslintrc.json
Due: prettier --write

componentの追加
  package-lock.json
  package.json
  src/component/ui/Card/Card.stories.tsx
  src/component/ui/Card/Card.tsx
  src/component/ui/Card/index.ts
  src/component/ui/Input/Input.stories.tsx
  src/component/ui/Input/Input.tsx
  src/component/ui/Input/index.ts
  src/component/ui/Label/Label.stories.tsx
  src/component/ui/Label/Label.tsx
  src/component/ui/Label/index.ts
  src/component/ui/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

tailwindの設定
  .vscode/extensions.json
  tailwind.config.js
Due: prettier --write

Path conditions:
  eslint --cache --cache-location .next/cache/eslint/ --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
