Repository mxkx74/app_directory_sample: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

lintignoreの修正
  .eslintignore
  .prettierignore
Due: none

stackコンポーネントの追加
  src/component/ui/Stack/Stack.module.scss
  src/component/ui/Stack/Stack.tsx
  src/component/ui/Stack/index.ts
  src/component/ui/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Homeコンポーネントの修正
  src/app/(withHeader)/(home)/page.tsx
  src/component/page/Home/Home.module.scss
  src/component/page/Home/Home.tsx
  src/component/page/Home/index.ts
  src/component/page/index.ts
  src/component/ui-parts/Header/Header.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

testコマンドの追加
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
Due: prettier --write

@typescript-eslint/return-awaitをoffに
  .eslintrc.json
Due: prettier --write

fetcherの作成
  src/lib/fetcher/fetcher.test.ts
  src/lib/fetcher/fetcher.ts
  src/lib/fetcher/index.ts
  src/type/httpResponse.ts
  src/util/error.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

pre-pushの追加
  .husky/pre-push
Due: none

lockファイルの更新
  package-lock.json
Due: prettier --write

zodのインストール
  package-lock.json
  package.json
Due: prettier --write

next-authのインストール
  package-lock.json
  package.json
Due: prettier --write

providerの追加
  src/component/layout/AppLayout/AppLayout.tsx
  src/provider/NextAuthProvider.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

loginページの追加
  src/app/(noHeader)/login/page.tsx
  src/component/page/Login/Login.module.scss
  src/component/page/Login/Login.tsx
  src/component/page/Login/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

route handlerの修正
  .env.development
  .env.production
  src/app/api/auth/[...nextauth]/route.ts
  src/feature/auth/next-auth.d.ts
  src/feature/auth/options.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

アセットの追加
  public/asset/Spotify_Logo.png
Due: none

middlewareの追加
  src/middleware.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

コンポーネントの修正
  src/component/ui/Button/Button.tsx
  src/component/ui/Stack/Stack.module.scss
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

コンポーネントの調整
  src/component/ui-parts/Header/Header.module.scss
  src/component/ui/Stack/Stack.module.scss
Due: none

auth route handler追加
  src/app/api/auth/[...nextauth]/route.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

strict-boolean-expressionsをerrorに
  .eslintrc.json
Due: prettier --write

@types/jest追加
  package-lock.json
  package.json
Due: prettier --write

mswの更新
  public/mockServiceWorker.js
Due: prettier --write

pathの追加
  src/constant/path.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

modelの追加
  src/domain/model/authModel.ts
  src/domain/model/sessionModel.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

route handlerの設定
  src/app/api/auth/[...nextauth]/route.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

componentの修正
  src/component/page/Login/Login.tsx
  src/feature/auth/component/Login.tsx
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

usecase追加
  src/feature/auth/useCase.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

repositoryの追加
  src/domain/repository/authRepository.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

JWTとSession型の拡張
  src/feature/auth/auth.d.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

indexの追加
  src/lib/index.ts
  src/type/index.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

optionsのリファクター
  src/feature/auth/options.ts
  src/feature/auth/setting.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

result型の追加
  src/type/result.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

repositoryの修正
  src/domain/repository/authRepository.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

settingの修正
  src/feature/auth/setting.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

test修正
  src/feature/auth/setting.test.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

refreshAccessTokenの修正
  src/feature/auth/setting.test.ts
  src/feature/auth/setting.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

pathの修正
  src/constant/path.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

ディレクトリの変更
  src/domain/auth/authModel.ts
  src/domain/auth/authRepository.ts
  src/domain/auth/sessionModel.ts
  src/domain/me/meModel.ts
  src/domain/me/meRepository.ts
  src/feature/auth/setting.test.ts
  src/feature/auth/setting.ts
  src/feature/auth/useCase.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

pathを関数から定数に変更
  src/constant/path.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

revalidateTagのkeyをKeyPathに変更
  src/domain/auth/authRepository.ts
  src/domain/me/meRepository.ts
  src/lib/fetcher/fetcher.ts
  src/type/keyPath.ts
  src/util/path.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

mePlaylistの追加
  src/domain/mePlaylists/mePlaylistsModel.ts
  src/domain/mePlaylists/mePlaylistsRepository.ts
Due: eslint --cache --cache-location .next/cache/eslint/ --fix, prettier --write

Path conditions:
  eslint --cache --cache-location .next/cache/eslint/ --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
